.blocker:before {
    display: none;
}

img[data-toggle="modal"] {
    cursor: zoom-in;
}

.modal {
    width: 100%;
    max-width: unset;
    height: 100%;
    display: none;
    position: relative;
    float: unset;
    z-index: 2;
    padding: unset;
    vertical-align: unset;
    box-sizing: border-box;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: unset;
}

.modal .modal-dialog {
    height: 100%;
}

.modal .modal-content {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.modal .modal-header {
    user-select: none;
}

.modal .modal-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    padding: 0 40px 40px;
    overflow: hidden;
}

.modal .modal-body img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: contain;
    user-select: none;
}

@media (min-width: 1024px) {
    .blocker {
        padding: 80px;
    }
}
